html{
  background: url(../img/CN7I0546.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: helvetica arial sans-serif;
}

#container {
	margin: 0 250px;
	color: white;
}

label, input {
	display: block;
}