html{
  background: url(../img/CN7I0546.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: helvetica arial sans-serif;
}

#container {
	color: white;
  width: 100%;
  text-align: center;
}
#content-area{
  display: table;
  margin: 0 auto;
}
label, input, select, button {
	display: inline;
  margin: 10px 0 10px 10px;
  font-size: 24px;

}
h1{
  font-size: 52px;
}
